.form-field-error-message {
    font-size: 85%;
    span .label {
        display: inline-block;
        margin-right: 5px;
    }
}

.ticket .form-field-error-message .label{
    display: inline-block;
    margin-right: 5px;
}

.small-form {
    label, input {
        font-size: 90%;
    }
}
