.ticket {

    #modal-form0 {
        background-color: $g4n-gray-searchbar;
        margin-bottom: 10px;
        border-top: solid 1px $g4n-dark-gray;
        padding: 0 5px;
    }
    .dropdown-pane {
        padding: 0.4rem;
        hr {
            margin: 0.5rem auto;
            max-width: 100%;
        }
    }

    .label {
        display: block;
        font-weight: 600;
    }
    .ticket-priority-10 {
        background-color: #d9d9d9;
        color: black;
    }
    .ticket-priority-20 {
        background-color: #ffdca6;
        color: black;
    }
    .ticket-priority-30 {
        background-color: #ff6f00;
        color: black;
    }
    .ticket-priority-40 {
        background-color: #c91111;
        color: white;
    }

    .ticket-status-10 { // new
        background-color: #b8ffbb;
        color: black;
    }
    .ticket-status-20 {
        background-color: #fac87e;
        color: black;
    }
    .ticket-status-30 {
        background-color: #94f1fa;
        color: unset;
    }
    .ticket-status-40 {
        background-color: #dca3fc;
        color: unset;
    }
    .ticket-status-90 { // closed
        background-color: unset;
        color: unset;
    }
}