/.idea
*/.DS_Store/
*/.DS_Store
.DS_Store
./.DS_Store
*/help.*
help.*
php.ini
tempfiles/*
symfony.exe


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
/public/*.pdf
/public/*.html
/public/echarts
/public/uploads/*
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/tools/
/tools/php-cs-fixer/
/tools/php-cs-fixer/vendor/

.php-cs-fixer.cache
