<div
        data-report-target="list">
    <div data-reload-content-target="content">
        <table class="table sortable stickyheader">
            <thead>
            <tr></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>