@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@page {
  size: A4 landscape;
}

@media print{
  html, body {
    width: 277mm;
    height: 200mm;
    padding: 0;
    margin: 0;
  }
}

body{
  padding: 0;
  margin: 0;
}

body * {font-family: 'Source Sans Pro', sans-serif;}

.content_asset_report{
  width: 277mm!important;
  height: 176mm!important;
  overflow: hidden;
}

h1{
  margin-bottom: 8px;
}

h2{
  margin-bottom: 4px;
  padding: 0;
}

h3{
  color: #15508e!important;
  font-size: 1.4rem;
  margin: 1.5rem 0 1rem 0;
}

.page-break {
  page-break-before: always;
}

small {
  font-size: 80%;
}

.subheadline{
  margin-bottom: 15px;
  display: block;
  font-size:14px !important;
  color: #2e639a;
}

.headline_customer{
  border-bottom: solid 2px #00386d;
  text-align: right;
  /*width: 29.7cm!important;*/
}

table {
  border-collapse: collapse;
  width: 100% ;
  margin-bottom: 0;
}
table .autowidth{
  width: auto;
}
table * {
  font-family: 'Source Sans Pro', sans-serif;
}

table td, table th {
  border: none 0;
  padding: 3px 2px 1px 2px;
  border-collapse: collapse;
  font-size: 11px;
}

table td small, table th small {
  font-size: 10px;
}
table td .table-center, table th .table-center {
  text-align: center;
}
table td {
  text-align: right;
}
table th, .tr_first_column {
  background-color: #bdd7ee !important;
  font-weight: bold;
  text-align: right;
  border: solid 1px #000;
}

table .tr_first_column_nonbold {
  background-color: #bdd7ee !important;
  font-weight: normal;
  text-align: left;
  border: solid 1px #000;
}

.tr_next_columns {
  text-align: right;
  border: solid 1px #000;
}


#basetable{
  width: 100% !important;
}

.asset_report_table_operations_data{
  width: 100% !important;
}

.asset_report_table_operations_data td {
  padding: 2px 2px 0 2px;
  font-size: 10px;
}
.asset_report_table_operations_data td .td_values_1 {
  background-color: #5f8148;
}
.asset_report_table_operations_data td .td_values_2 {
  background-color: #a9d08e;
}
.asset_report_table_operations_data td .td_values_3 {
  background-color: #ffff00;
}
.asset_report_table_operations_data td .td_values_4 {
  background-color: #ffc000;
}
.asset_report_table_operations_data td .td_values_5 {
  background-color: #cc0000;
}
.asset_report_table_operations_data_small{
  width: 100% !important;
}
.asset_report_table_operations_data_small tr td{
  font-size: 7px !important;
}

#asset_report, #asset_report_table_header{
  border: none !important;
  text-align: left;
  page-break-after: always;
  padding: 0 !important;
  margin: 0 !important;
}
#asset_report, #asset_report_table_header td{
  margin: 0 !important;
  padding: 0 !important;
}

.customer_logo{
  height:40px !important;
}

.g4n_logo{
  height:30px !important;
}

.td_texthint{
  text-align: left; padding-left: 40px;
}

.texthint{
  background-color: #bdd7ee !important;
  padding: 0 5px;
}

.td_texthint_2{
  text-align: left;
  width: 130px;
  display: block;
}

.legend_colors td{
  width: 80px;
  border: solid 1px;
}

table td .explanation{
  border: solid 2px #15508e;
  padding: 5px;
  margin-top: -15px!important;
}

.explanation{
  position: relative;
  width: 17cm;
  border: solid 2px #15508e;
  padding: 5px;
  font-size: 12px;
}
.pr-formula{
  vertical-align: top;
}
.pr-formula img{
  width: 300px;
}

