@page {
  size: A4 landscape;
  margin: 0;
}

@media print{
  html, body {
    width: 297mm;
    height: 210mm;
  }
}

body {
  padding-left: 1.3cm;
  padding-right: 1.3cm;
}

body * {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content_report{
  height: 180mm!important;
  width: 270mm!important;
}

h1, h2, h3, h4 { color: #15508e!important; margin: 20px 0 5px 0;}
h1 { font-size: 20px; }
h2 { font-size: 18px;}
h3 { font-size: 16px;}
h4 { font-size: 14px;}

.page-break { page-break-before: always; }
small { font-size: 80%; }

.subheadline{
  margin-bottom: 20px;
  display: block;
  font-size:14px !important;
  color: #2e639a;
}

.headline_customer{
  border-bottom: solid 2px #00386d;
  text-align: right;
  width: 29.7cm!important;
}

table {
  border-collapse: collapse;
  width: auto !important;
  /*margin-bottom: 1.5rem;*/
}
table {

}

table td, table th {
  border: solid 0px;
  padding: 2px 2px;
  border-collapse: collapse;
  font-size: 11px;
}

table td small, table th small {
  font-size: 10px;
}
table td .table-center, table th .table-center {
  text-align: center;
}
table td {
  text-align: right;
}
table th {
  background-color: #bdd7ee !important;
  font-weight: bold;
  text-align: right;
  border: solid 1px #000;
}
.strong td {font-weight: bold; }
.line { border-top: solid 2px #1e1e1e;}

.basetable {
  width: 100% !important;
}
.pldtable {
}

.basetable td, .basetable th, .pldtable td, .pldtable th {
  border: solid 1px #9f9f9f;
  padding: 4px;
  text-align: left;
}

.basetable th, .pldtable th {
  vertical-align: top;
}
.basetable tr:nth-child(even) { background-color: #eeeeee; }
.basetable tr:nth-child(odd) { }

.monthtable {
}
.monthtable td, .monthtable th{
  text-align: right;
  font-size: 8px;
  padding: 4px 3px;
}
.monthtable th{
  text-align: center;
  vertical-align: middle;
}
.customer_logo{
  height:40px !important;
}

.g4n_logo{
  height:30px !important;
}

.text-left { text-align: left!important; }
.text-right { text-align: right!important; }
.text-center { text-align: center!important; }

.dark-bg {background-color: #9f9f9f;}

.col-50 { width: 50%;}
.cell {}
.box {
  border: solid 1px #9f9f9f;
  padding: 5px;
}

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.clearfix::before, .clearfix::after {
  display: table;
  content: ' '; }

.clearfix::after {
  clear: both; }