@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body div.report * {
  font-family: 'Source Sans Pro', sans-serif;
}

.content_report{
  height: 180mm!important;
  width: 270mm!important;
}

h1, h2, h3, h4 { color: #15508e!important; margin: 20px 0 5px 0;}
h1 { font-size: 20px; }
h2 { font-size: 18px;}
h3 { font-size: 16px;}
h4 { font-size: 14px;}

.page-break { page-break-before: always; }
small { font-size: 80%; }

.subheadline{
  margin-bottom: 20px;
  display: block;
  font-size:14px !important;
  color: #2e639a;
}

.headline_customer{
  border-bottom: solid 2px #00386d;
  text-align: right;
  width: 29.7cm!important;
}

table {
  border-collapse: collapse;
  width: auto !important;
  /*margin-bottom: 1.5rem;*/
}


.content table td, table th {
  border: solid 1px #666666;
  padding: 2px 2px;
  border-collapse: collapse;
  font-size: 11px;
}

table td small, table th small {
  font-size: 10px;
}
table td .table-center, table th .table-center {
  text-align: center;
}

table td {
  text-align: right;
}
table th {
  background-color: #bdd7ee !important;
  font-weight: bold;
  text-align: right;
  border: solid 1px #000;
}
table th.left {
  text-align: left;
}
.strong td {font-weight: bold; }
.line { border-top: solid 2px #1e1e1e;}

.basetable {
  width: 100% !important;
}
.basetable.text-right td, .basetable.text-right th{text-align: right;}
.basetable.text-left td, .basetable.text-left th{text-align: left;}
.basetable.text-center td, .basetable.text-center th{text-align: center;}

.basetable td, .basetable th, .pldtable td, .pldtable th {
  border: solid 1px #9f9f9f;
  padding: 4px;
  text-align: left;
}

.basetable th, .pldtable th {
  vertical-align: top;
}
.basetable tr:nth-child(even) { background-color: #eeeeee; }
.basetable tr:nth-child(odd) { }

.monthtable {
}
.monthtable td, .monthtable th{
  text-align: right;
  font-size: 12px;
  padding: 2px;
}
.monthtable th{
  text-align: center;
  vertical-align: middle;
}
.customer_logo{
  height:40px !important;
}

.g4n_logo{
  height:30px !important;
}

.text-left { text-align: left!important; }
.text-right { text-align: right!important; }
.text-center { text-align: center!important; }

.dark-bg {background-color: #9f9f9f; width: 5px}
.border-right-2 {border-right: solid 2px #9f9f9f !important;}
.border-left-2 {border-left: solid 2px #9f9f9f !important;}


.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.clearfix::before, .clearfix::after {
  display: table;
  content: ' '; }

.clearfix::after {
  clear: both; }