
RewriteEngine On
### Redirect to live version if not a IP from:
### G4N
#RewriteCond %{REMOTE_ADDR} !^87\.140\.79\.244$
### MRE
#RewriteCond %{REMOTE_ADDR} !^62\.91\.87\.146$
#RewriteRule ^ https://www.g4npvplus.de%{REQUEST_URI} [R=302,L]

### Symfony redirects
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=BASE:%1]

RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

RewriteRule ^index\.php - [L]

RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} !^.+\.php$
RewriteRule ^ - [L]

RewriteRule ^ %{ENV:BASE}/index.php [L]
