
{% macro searchbox(request, name) %}
    <form>
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell medium-2" style="margin-top:-17px!important;">
                <input type="text" name="{{ name }}" class="input-group-field" data-autocomplete-url="/admin/anlagen/find" value="{{ request }}" placeholder="Search plants">
            </div>
           <div class="cell medium-2">
               <select name="searchstatus">
                   <option value="">Status</option>
                   <option value="0">final</option>
                   <option value="5">proof reading</option>
                   <option value="9">archive (g4n only)</option>
                   <option value="10">draft (g4n only)</option>
                   <option value="11">wrong (g4n only)</option>
               </select>
           </div>
            <div class="cell medium-2">
                <select name="searchtype">
                    <option value="">Type</option>
                    <option value="monthly-report">monthly</option>
                    <option value="epc-report">epc</option>
                    <option value="am-report">am</option>
                </select>
            </div>
            <div class="cell medium-2">
                <select name="searchmonth">
                    <option value="">Month </option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4" >04</option>
                    <option value="5">05</option>
                    <option value="6" >06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
            <div class="input-group-button" style="height:35px !important; width:35px !important; padding:0; margin-top:-15px;">
                <button name="search" type="submit" class="button" value="yes"><span class="fa fa-search"></span></button>
            </div>
        </div>
    </form>
{%  endmacro %}