
{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1>New Ticket</h1>
        </div>
    </div>
    {{ include('ticket/_form.html.twig') }}
{% endblock %}


{% block title %}
    {{  parent() }}new Ticket
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}