{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tickets_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}List Tickets
{% endblock %}

{% block body %}
    <h1>List Tickets</h1>
    <div {{ stimulus_controller('ticket-list', {
                urlCreate: path('app_ticket_create'),
                urlSearch: path('app_ticket_list', { ajax: 1 }),
            }) }}
            id="list"
            data-ticket-list-target="ticketForm"
            class="ticket"
    >
        <div data-ticket-list-target="searchBar" style="margin-top: 10px; margin-bottom: 10px; height: 140px">
            <h3 style="margin-bottom: 10px">Filter / Search by:</h3>
            {% include 'ticket/_inc/_searchForm.html.twig' %}
        </div>
        <div data-ticket-list-target="list" >
            {% include 'ticket/_inc/_listTickets.html.twig' %}
        </div>
        </div>
    </div>
{% endblock %}