{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tickets_list') }}
{% endblock %}

{% block title %}
    {{ parent() }}List Tickets
{% endblock %}

{% block body %}
    <h1>List Tickets</h1>
    <div  {{ stimulus_controller('ticket-list', {
                urlCreate: path('app_ticket_create'),
                urlSearch: path('app_ticket_search')
            }) }}
            data-ticket-list-target="ticketForm"
    >
        <div data-ticket-list-target="searchbar">
            {% include 'ticket/_inc/_searchForm.html.twig' %}
        </div>
        <div data-ticket-list-target="list">
            {% include 'ticket/_inc/_listTickets.html.twig' %}
        </div>
        <div class="cell medium-2">
            <button name="new-report" class="button" value="yes"
                data-action="ticket-list#create">Open Ticket
            </button>
        </div>
    </div>
{% endblock %}