{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Comments & Explanations</h3>
    <div >
        <p><sup>1</sup> The net capacity factor is the unitless ratio of an actual electrical energy output over a given period of time to the maximum possible electrical energy output over that period.<br></p>
        <img width="130" src="{{ absolute_url(asset('goldbeck/reports/asset_management/cf.png')) }}"></td>
        <p><sup>2</sup> Availability: </p>
        <br>{{ comments|raw }}<br>
    </div>

{% endblock page %}