{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Comments & Explanations</h3>
    <div class="explanation" >
        <b>Explanation:</b>
        <br>{{ comments }}<br>
    </div>

{% endblock page %}