{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Comments & Explanations</h3>
    <div >
        <b>Explanation:</b>
        <br>{{ comments|raw }}<br>
    </div>

{% endblock page %}