    <div style="page-break-after: always!important;">
        <table style="width: 29.7cm;">
            <tr>
                <td style="border-bottom: solid 2px #91bc5b;width: 25.4cm;"></td>
                <td rowspan="2"><img class="g4n_logo" src="{{ baseurl }}/images/green4net.jpg" style="height: 30px!important;"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>