<div style="page-break-after: always; height: 100%!important;">
    <div>
        <table style="width: 29.7cm; margin-top: 15px!important;">
            <tr>
                <td style="border-bottom: solid 2px #00386d;width: 25.4cm;"></td>
                <td rowspan="2"> <img class="customer_logo" src="{{ customer_logo }}"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>