{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3>Technical Performance</h3>
    <div style="height: 50%">
        {{ PR_MonthlyGraphic | raw }}
        *Contractual PR
    </div>
{% endblock %}