{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <div style="height: 50%">
        {{ PA_MonthlyGraphic | raw }}
    </div>

    <div style="height: 50%">
        {{ PR_MonthlyGraphic | raw }}
    </div>
{% endblock %}