{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}
    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Losses Bucket Diagram</h3>
    <div class="grid-x">
        <div class="cell">
            {{ waterfallDiagram|raw }}
        </div>
    </div>
    <div class="grid-x">
        <div class="cell">
            <p style="font-size: 12px">
                <sup> * </sup> The forecast and expected values contain systematic technical performance losses of the PV system; additional losses are loss variances depending on the actual performance of the PV plant
            </p>
        </div>
    </div>
{%  endblock page %}