{% extends 'report/_asset_mangement_partials/_pageBase.html.twig' %}

{% block page %}

    <h3 style="color: {{ anlage.eigner.fontColor2 }};">Losses Table</h3>
    <div class="grid-x">
        <div class="cell">
            <table class="asset_report_table_operations_data" >
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

{%  endblock page %}