{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1>Edit modul</h1>
        </div>
    </div>
    {{ include('modul_database/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{  parent() }}Edit modul
{% endblock %}