<footer class="grid-container fluid">
    <div class="grid-x">
        <div class="cell">
            <p class="text-center">&copy; 2018 - 2024 Green4Net - All Rights Reserved - PV+ 4.0 v2.3.6 beta</p>
        </div>
    </div>
</footer>