{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('eigner') }}
{% endblock %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1>Edit Owner</h1>
        </div>
    </div>
    {{ include('owner/_form.html.twig') }}
{% endblock %}


{% block title %}
    {{  parent() }}Edit Owner
{% endblock %}


