{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1>Edit Owner</h1>
        </div>
    </div>
    {{ include('owner/_form.html.twig') }}
{% endblock %}


{% block title %}
    {{  parent() }}edit Owner
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}