{% extends "base.html.twig" %}

{% block title %}dashboard{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    {{ parent() }}
    <script src="https://cdn.amcharts.com/lib/4/core.js" type="text/javascript"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js" type="text/javascript"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js" type="text/javascript"></script>
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block body %}

    {% if anlagen == 0 %} {# Keine Datensätze gefunden #}
        <div class="callout alert" >
            <h4>Sorry your database are not not available !</h4>
        </div>
    {% else %}
       <div id="plants">
           {% include 'dashboardPlants/_incl/plantListTop.html.twig' %}
       </div>
        {% include 'dashboardPlants/_incl/plantChart.html.twig' %}
    {% endif %}
{% endblock %}

