{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.amcharts.com/lib/4/core.js" type="text/javascript"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js" type="text/javascript"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js" type="text/javascript"></script>
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block body %}
    {% if anlagen == 0 %} {# Keine Datensätze gefunden #}
        <div class="callout alert" >
            <h4>Sorry your database are not not available !</h4>
        </div>
    {% else %}
       {#<div id="plants" class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y"> #}
        <div id="plants" class="grid-x ">
        {% include 'dashboardPlants/_incl/plantListTop.html.twig' %}
        </div>

        {% if aktAnlage %}
            <div id="chart" class="grid-x grid-padding-x grid-padding-y box shadow text-center" >
                <div class="cell">
                    <form id="chart-control" class="chart-control" method="post" name="chart_control_form" action="#chart">
                        {% include 'dashboardPlants/_incl/chartControl.html.twig' %}
                        {% include 'dashboardPlants/_incl/chart.html.twig' %}
                    </form>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

