{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.amcharts.com/lib/4/core.js" type="text/javascript"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js" type="text/javascript"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js" type="text/javascript"></script>
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block body %}
    {% if anlagen == 0 %} {# Keine Datensätze gefunden #}
        <div class="callout alert" >
            <h4>Sorry your database are not not available !</h4>
        </div>
    {% else %}
        <div id="plants">
            {% include 'dashboardPlants/_incl/plantListTop.html.twig' %}
        </div>
        {% include 'dashboardPlants/_incl/plantChart.html.twig' %}
    {% endif %}
{% endblock %}

