{% extends 'base.html.twig' %}

{% block title %}
    {{  parent() }}edit report
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <h1>Edit {{ report.reportType }} – {{ anlage.anlName }} Month: {{ report.month }} </h1>
    {% include'reporting/_inc/_editForm.html.twig' %}
{% endblock %}