

{% block page %}
    <div class="grid-x grid-margin-x">
        <div class="cell small-3">
            {% if forecast_real.0.pld > 0 %}
            <h3>PLD</h3>
            <table>
                <thead>
                <tr>
                    <th>Year</th>
                    <th>E loss [kWh]</th>
                    <th>net present PLD [EUR]</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in pld %}

                    <tr>
                        <td>{{ value.year }}</td>
                        <td>{{ value.eLoss|number_format(2,',','.') }}</td>
                        <td>{{ value.pld|number_format(2,',','.') }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="cell small-9" style="max-height: 350px; overflow: hidden;">
            <h3>Difference PR<sub><small>prog/real</small></sub> - PR<sub><small>Guar</small></sub> <small>({{ forecast.0.forecastDateText }})</small></h3>

        </div>
    </div>
{% endblock %}