<div>
    {% block content %}

        <div class="content_report">
            {% include('report/_epc_new/_table.html.twig') %}
            {% include('report/_epc_new/_formel.html.twig') %}
            {% include('report/_epc_new/_chart.html.twig') %}
            {% include('report/_epc_new/_monthly.html.twig') %}
            {% include('report/_epc_new/_legend.html.twig') %}
        </div>
    {% endblock %}
</div>