{# INV PR Heatmap Diagramme #}
{% macro showHeatmap(form, aktAnlage) %}
    <option value="heatmap" {% if form.selectedChart == 'heatmap' %}selected{% endif %}>Inverter PR Heatmap [%]</option>
{% endmacro %}
{# INV Temp Heatmap Diagramme #}
{% macro showTempHeatmap(form, aktAnlage) %}
    <option value="tempheatmap" {% if form.selectedChart == 'tempheatmap' %}selected{% endif %}>Inverter Temperature Heatmap [°C]</option>
{% endmacro %}
{# INV SollIst DC Current Heatmap Diagramme #}
{% macro showSollIstHeatmap(form, aktAnlage) %}
    <option value="sollistheatmap" {% if form.selectedChart == 'sollistheatmap' %}selected{% endif %}>DC Current Heatmap [%]</option>
{% endmacro %}
{# INV SollIst AC Analyse #}
{% macro showSollIstAnalyse(form, aktAnlage) %}
    <option value="sollistanalyse" {% if form.selectedChart == 'sollistanalyse' %}selected{% endif %}>Analysis actual - expected (BETA)</option>
{% endmacro %}
{# INV SollIst AC TEMP Analyse #}
{% macro showSollIstTempAnalyse(form, aktAnlage) %}
    <option value="sollisttempanalyse" {% if form.selectedChart == 'sollisttempanalyse' %}selected{% endif %}>Analysis actual - expected to TEMP (BETA)</option>
{% endmacro %}
{# INV SollIst AC Irr Analyse #}
{% macro showSollIstIrrAnalyse(form, aktAnlage) %}
    <option value="sollistirranalyse" {% if form.selectedChart == 'sollistirranalyse' %}selected{% endif %}>Analysis actual - expected to IRR (BETA)</option>
{% endmacro %}
{# AC Power Diagramme #}
{# AC1 #}
{% macro acActPlant(form, aktAnlage) %}
    <option value="ac_single" {% if form.selectedChart == 'ac_single' %}selected{% endif %} >AC Power - Actual & Expected, Plant&nbsp;[kWh] {% if is_granted('ROLE_DEV') %}[AC 1]{% endif %}</option>
{% endmacro %}

{# AC2 #}
{% macro acActOverview(form, aktAnlage) %}
    {% if aktAnlage.configType == 1 %}
        <option value="ac_act_overview" {% if form.selectedChart == 'ac_act_overview' %}selected{% endif %}>
            AC Power - Actual & Expected, Overview&nbsp;[kWh] {% if is_granted('ROLE_DEV') %}[AC 2]{% endif %}
        </option>
    {% endif %}
{% endmacro %}

{# AC3 #}
{% macro acActGroup(form, aktAnlage) %}
    <option value="ac_act_group" {% if form.selectedChart == 'ac_act_group' %}selected{% endif %}>
        {% if aktAnlage.configType == 1 %}
            AC Power - Actual & Expected, Inverters
        {% elseif aktAnlage.configType == 2 %}
            AC Power - Actual & Expected, Inverters
        {% elseif aktAnlage.configType == 3 %}
            AC Power - Actual & Expected, Inverters
        {% elseif aktAnlage.configType == 4 %}
            AC Power - Actual & Expected, Inverters
        {% endif %}
        &nbsp;[kWh] {% if is_granted('ROLE_DEV') %}[AC 3]{% endif %}</option>
{% endmacro %}

{# AC5 #}
{% macro acVoltage(form, aktAnlage) %}
    <option value="ac_act_voltage" {% if form.selectedChart == 'ac_act_voltage' %}selected{% endif %}>AC Voltage&nbsp;- Inverters [V] {% if is_granted('ROLE_DEV') %}[AC 5]{% endif %}</option>
{% endmacro %}

{# AC6 #}
{% macro acCurrent(form, aktAnlage) %}
    <option value="ac_act_current" {% if form.selectedChart == 'ac_act_current' %}selected{% endif %}>AC Current&nbsp;- Inverter [A] {% if is_granted('ROLE_DEV') %}[AC 5]{% endif %}</option>
{% endmacro %}

{# AC7 #}
{% macro acFrequency(form, aktAnlage) %}
   <option value="ac_act_frequency" {% if form.selectedChart == 'ac_act_frequency' %}selected{% endif %}>AC Frequency - Inverter [Hz] {% if is_granted('ROLE_DEV') %}[AC 7]{% endif %}</option>
{% endmacro %}

{# AC8 #}
{% macro acReactive(form, aktAnlage) %}
    {% if is_granted('ROLE_G4N') %}<option value="reactive_power" {% if form.selectedChart == 'reactive_power' %}selected{% endif %}>AC Reactive Power&nbsp;- Inverter [kvar] {% if is_granted('ROLE_DEV') %}[AC 8]{% endif %}</option>{% endif %}
{% endmacro %}



{# DC Power Diagramme #}
{# DC1 #}
{% macro dcActPlant(form, aktAnlage) %}
    <option value="dc_single" {% if form.selectedChart == 'dc_single' %}selected{% endif %}>DC - Actual & Expected, Plant &nbsp;[kWh]{% if is_granted('ROLE_DEV') %}[DC 1]{% endif %}</option>
{% endmacro %}

{# DC2 #}
{% macro dcActOverview(form, aktAnlage) %}
    {% if aktAnlage.configType == 1 %}
        <option value="dc_act_overview" {% if form.selectedChart == 'dc_act_overview' %}selected{% endif %}>DC - Actual & Expected, Overview&nbsp;[kWh]{% if is_granted('ROLE_DEV') %}[DC 2]{% endif %}</option>
    {% elseif aktAnlage.configType == 2 %}

    {% elseif aktAnlage.configType == 3 %}

    {% elseif aktAnlage.configType == 4 %}

    {% endif %}
{% endmacro %}

{# DC3 #}
{% macro dcActGroup(form, aktAnlage) %}
    <option value="dc_act_group" {% if form.selectedChart == 'dc_act_group' %}selected{% endif %}>
        {% if aktAnlage.configType == 1 %}
            DC - Actual & Expected, Inverters
        {% elseif aktAnlage.configType == 2 %}
            DC - Actual & Expected, Inverters
        {% elseif aktAnlage.configType == 3 %}
            DC - Actual & Expected, Inverters
        {% elseif aktAnlage.configType == 4 %}
            DC - Actual & Expected, SCBs
        {% endif %}
        &nbsp;[kWh]{% if is_granted('ROLE_DEV') %}[DC 3]{% endif %}</option>
{% endmacro %}

{# DC4 #}
{% macro dcGroupPowerDiff(form, aktAnlage) %}

    <option value="dc_grp_power_diff" {% if form.selectedChart == 'dc_grp_power_diff' %}selected{% endif %}>
        {% if aktAnlage.configType == 1 %}
            DC - Inverter (BarChart)
        {% elseif aktAnlage.configType == 2 %}
            DC - Inverter (BarChart)
        {% elseif aktAnlage.configType == 3 %}
            DC - SCB Groups (BarChart)
        {% elseif aktAnlage.configType == 4 %}
            DC - SCBs (BarChart)
        {% endif %}
        &nbsp;[kWh]{% if is_granted('ROLE_DEV') %}[DC 4]{% endif %}</option>

{% endmacro %}

{# Current Diagramme DC #}
{# Curr1 #}
{% macro currentDcOverview(form, aktAnlage) %}
    {% if aktAnlage.configType == 1 %}
        <option value="dc_current_overview" {% if form.selectedChart == 'dc_current_overview' %}selected{% endif %}>DC - Current, Overview&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 1]{% endif %}</option>
    {% elseif aktAnlage.configType == 2 %}
        {# wird hier im Moment nicht benötigt #}
        {# <option value="dc_current_overview" {% if form.selectedChart == 'dc_current_overview' %}selected{% endif %}>DC - Current, Overview&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 1]{% endif %}</option> #}
    {% elseif aktAnlage.configType == 3 %}
        <option value="dc_current_overview" {% if form.selectedChart == 'dc_current_overview' %}selected{% endif %}>DC - Current, Inverter&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 1]{% endif %}</option>
    {% elseif aktAnlage.configType == 4 %}
        <option value="dc_current_overview" {% if form.selectedChart == 'dc_current_overview' %}selected{% endif %}>DC - Current, Inverter&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 1]{% endif %}</option>
    {% endif %}
{% endmacro %}

{# Curr2 #}
{% macro currentDcGroup(form, aktAnlage) %}
    {% if aktAnlage.showGraphDcCurrGrp %}
        {% if aktAnlage.configType == 1 %}
            {# <option value="dc_current_group" {% if form.selectedChart == 'dc_current_group' %}selected{% endif %}>DC - Current, Group&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 2]{% endif %}</option> #}
        {% elseif aktAnlage.configType == 2 %}

        {% elseif aktAnlage.configType == 3 %}
            {# <option value="dc_current_group" {% if form.selectedChart == 'dc_current_group' %}selected{% endif %}>DC - Current, Inverters&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 3]{% endif %}</option> #}
        {% elseif aktAnlage.configType == 4 %}

        {% endif %}
    {% endif %}
{% endmacro %}

{# Curr3 #}
{% macro currentDcInverter(form, aktAnlage) %}
    {% if aktAnlage.configType == 1 %}
        <option value="dc_current_inverter" {% if form.selectedChart == 'dc_current_inverter' %}selected{% endif %}>DC - Current, Inverter&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 3]{% endif %}</option>
    {% elseif aktAnlage.configType == 2 %}
        <option value="dc_current_inverter" {% if form.selectedChart == 'dc_current_inverter' %}selected{% endif %}>DC - Current, Inverter&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 3]{% endif %}</option>
    {% elseif aktAnlage.configType == 3 %}
        <option value="dc_current_inverter" {% if form.selectedChart == 'dc_current_inverter' %}selected{% endif %}>DC - Current, SCB Groups&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 3]{% endif %}</option>
    {% elseif aktAnlage.configType == 4 %}
        {# <option value="dc_current_inverter" {% if form.selectedChart == 'dc_current_inverter' %}selected{% endif %}>DC - Current, SCB&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 3]{% endif %}</option> #}
    {% endif %}
{% endmacro %}

{# Curr4 #}
{% macro currentDcString(form, aktAnlage) %}
    {% if (aktAnlage.hasStrings and aktAnlage.showStringCharts) %}
        <option value="dc_current_mpp" {% if form.selectedChart == 'dc_current_mpp' %}selected{% endif %}>DC - Current, String&nbsp;[A]{% if is_granted('ROLE_DEV') %}[Curr 4]{% endif %}</option>
    {% endif %}
{% endmacro %}

{# VoltDC1  #}
{% macro voltageDcString(form, aktAnlage) %}
    {% if (aktAnlage.hasStrings and aktAnlage.showStringCharts) %}
        <option value="dc_voltage_mpp" {% if form.selectedChart == 'dc_voltage_mpp' %}selected{% endif %}>DC - Voltage, String&nbsp;[A]{% if is_granted('ROLE_DEV') %}[VoltDC 1]{% endif %}</option>
    {% endif %}
{% endmacro %}

{# Irradiation (Strahlung) Diagramme #}
{% macro irradiation(form, aktAnlage) %}
    {% if aktAnlage.showOnlyUpperIrr and not is_granted('ROLE_ADMIN') %}
        <option value="irradiation_one" {% if form.selectedChart == 'irradiation_one' %}selected{% endif %}>Irradiation [W/m²]</option>
    {% else %}
        <option value="irradiation" {% if form.selectedChart == 'irradiation' %}selected{% endif %}>Irradiation [W/m²]</option>
        {% if aktAnlage.showGraphIrrPlant %}
            <option value="irradiation_plant" {% if form.selectedChart == 'irradiation_plant' %}selected{% endif %}>Irradiation Plant [W/m²]</option>
        {% endif %}
    {% endif %}
{% endmacro %}

{# diverse Diagramme #}
