{% if aktAnlage %}
    <div id="chart" class="sprint grid-x grid-padding-x grid-padding-y box shadow text-center" style="">
        <div class="cell">
            <form id="chart-control" class="chart-control" method="post" name="chart_control_form" action="#chart">
                {% include 'dashboardPlants/_incl/chartControl.html.twig' %}
                {% include 'dashboardPlants/_incl/chart.html.twig' %}
            </form>
        </div>
    </div>
{% endif %}