<div class="grid-x grid-margin-x align-middle">
    <div class="cell medium-3" style="margin-top:-17px!important;">
        <input type="text" name="anlage" class="input-group-field js-autocomplete-plant"  value="{{ anlage }}" placeholder="Search plants">
    </div>
    <div class="cell medium-2">
        <select name="searchstatus">
            <option value=""   {% if status == ''   %}   selected {% endif %} > status             </option>
            <option value="0"  {% if status == '0'  %}   selected {% endif %} > final              </option>
            <option value="5"  {% if status == '5'  %}   selected {% endif %} > proof reading      </option>
            <option value="9"  {% if status == '9'  %}   selected {% endif %} > archive (g4n only) </option>
            <option value="10" {% if status == '10' %}   selected {% endif %} > draft (g4n only)   </option>
            <option value="11" {% if status == '11' %}   selected {% endif %} > wrong (g4n only)   </option>
        </select>
    </div>
    <div class="cell medium-2">
        <select name="searchtype">
            <option value=""               {% if type == '' %}               selected {% endif %} >Type     </option>
            <option value="monthly-report" {% if type == 'monthly-report' %} selected {% endif %} >monthly-report</option>
            <option value="epc"            {% if type == 'epc' %}            selected {% endif %} >epc-report</option>
            <option value="am-report"      {% if type == 'am-report' %}      selected {% endif %} >am-report</option>
        </select>
    </div>
    <div class="cell medium-2">
        <select name="searchmonth">
            <option value=""   {% if month == '' %}   selected {% endif %}>  Month </option>
            <option value="1"  {% if month == '1' %}  selected {% endif %}>  01    </option>
            <option value="2"  {% if month == '2' %}  selected {% endif %}>  02    </option>
            <option value="3"  {% if month == '3' %}  selected {% endif %}>  03    </option>
            <option value="4"  {% if month == '4' %}  selected {% endif %}>  04    </option>
            <option value="5"  {% if month == '5' %}  selected {% endif %}>  05    </option>
            <option value="6"  {% if month == '6' %}  selected {% endif %}>  06    </option>
            <option value="7"  {% if month == '7' %}  selected {% endif %}>  07    </option>
            <option value="8"  {% if month == '8' %}  selected {% endif %}>  08    </option>
            <option value="9"  {% if month == '9' %}  selected {% endif %}>  09    </option>
            <option value="10" {% if month == '10' %} selected {% endif %}>  10    </option>
            <option value="11" {% if month == '11' %} selected {% endif %}>  11    </option>
            <option value="12" {% if month == '12' %} selected {% endif %}>  12    </option>
        </select>
    </div>
    <div class="cell medium-2">
        <select name="searchyear">
            <option value=""      {% if searchyear == '' %}      selected {% endif %}>  Year    </option>
            <option value="2020"  {% if searchyear == '2020' %}  selected {% endif %}>  2020    </option>
            <option value="2021"  {% if searchyear == '2021' %}  selected {% endif %}>  2021    </option>
            <option value="2022"  {% if searchyear == '2022' %}  selected {% endif %}>  2022    </option>
            <option value="2023"  {% if searchyear == '2023' %}  selected {% endif %}>  2023    </option>
            <option value="2024"  {% if searchyear == '2024' %}  selected {% endif %}>  2024    </option>
        </select>
    </div>
    <input type="hidden" name="page" value="{{ pagination.currentPageNumber }}">
    <div class="input-group-button" style="height:35px !important; width:35px !important; padding:0; margin-top:-15px;">
        <button type="submit" name="search" class="button" value="yes"
                data-action="report#search"
        ><span class="fa fa-search"></span></button>
    </div>
</div>