{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-x grid-margin-x grid-padding-x">
        <div class="cell">
            <h1>New User</h1>
        </div>
    </div>
    {{ include('user/_form.html.twig') }}
{% endblock %}


{% block title %}
    {{  parent() }}new User
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}