{% extends 'report/assetreport.base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.amcharts.com/lib/4/core.js" type="text/javascript"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js" type="text/javascript"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js" type="text/javascript"></script>
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
{% block content %}
    <div class="container">
        {%  for page in 0..(((invNr/40)|round(0, 'ceil'))-1) %}
            {% include 'report/_asset_mangement_partials/_availability_inverter_daily.html.twig'%}
        {% endfor %}
    </div>
{% endblock %}