{% extends 'report/assetreport.base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'report/_asset_mangement_partials/_production_monthly_expected_vs_actuals.html.twig'%}
    </div>
{% endblock %}