<html>
<header>
    <link href="{{ baseurl }}/css/asset_report.css" rel="stylesheet" type="text/css">
    <script src="{{ baseurl }}/echarts/dist/echarts.min.js" type="text/javascript"></script>
</header>
<body>
{% block content %}

{% endblock %}
</body>
</html>
