{% extends 'report/assetreport.base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.amcharts.com/lib/4/core.js" type="text/javascript"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js" type="text/javascript"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js" type="text/javascript"></script>
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'report/_asset_mangement_partials/_economics_income_p_month.html.twig'%}
        {% include 'report/_asset_mangement_partials/_economics_costs_per_mandy.html.twig'%}
        {% include 'report/_asset_mangement_partials/_economics_operating_statement.html.twig'%}
        {% include 'report/_asset_mangement_partials/_economics_commulative_forecast.html.twig'%}
        {% include 'report/_asset_mangement_partials/_economics_losses_compared.html.twig'%}
        {% include 'report/_asset_mangement_partials/_economics_cumulated_losses_compared.html.twig'%}
    </div>
{% endblock %}