{% extends 'report/assetreport.base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
            {% include 'report/_asset_mangement_partials/_availability_yearly_ticket.html.twig'%}
            {% include 'report/_asset_mangement_partials/_chart_availability_year.html.twig' %}
            {% include 'report/_asset_mangement_partials/_chart_year_by_month.html.twig' %}
    </div>
{% endblock %}