{% extends 'report/assetreport.base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        {%  for page in 0..(((invNr/40)|round(0, 'ceil'))-1) %}
            {% include 'report/_asset_mangement_partials/_availability_inverter_daily.html.twig'%}
        {% endfor %}
    </div>
{% endblock %}