{% extends 'report/assetreport.base.html.twig' %}

{% block body %}
    <div class="container">
        {%- block content %}

            {% include 'report//_asset_mangement_partials/_header.html.twig'%}

            {% include 'report/_asset_mangement_partials/_productionandcapacityfactor.html.twig'%}

            {% include 'report/_asset_mangement_partials/_cumulative_forecast_with_PVSYST.html.twig'%}

            {% include 'report/_asset_mangement_partials/_cumulative_forecast_with_G4N.html.twig'%}

            {% include 'report/_asset_mangement_partials/_cumulative_losses_yearly.html.twig'%}

            {% include 'report/_asset_mangement_partials/_cumulative_losses_monthly.html.twig'%}

            {% include 'report/_asset_mangement_partials/_monthley_production.html.twig'%}

            {% include 'report/_asset_mangement_partials/_production_monthly_expected_vs_actuals.html.twig'%}

            {% include 'report/_asset_mangement_partials/_availibility_yearly_overview.html.twig'%}

            {% include 'report/_asset_mangement_partials/_availability_monthly_overview.html.twig'%}

            {% include 'report/_asset_mangement_partials/_aufloesung_availibility_fuerr_den_act_monat.html.twig'%}

            {% include 'report/_asset_mangement_partials/_availability_inverter_daily.html.twig'%}

            {% include 'report/_asset_mangement_partials/_string_currents_daily_difference_g4n_actuals.html.twig'%}

             {% include 'report/_asset_mangement_partials/_inverters_power_daily_difference_g4n_actuals.html.twig'%}

            {% include 'report/_asset_mangement_partials/_economics_income_p_month.html.twig'%}

            {% include 'report/_asset_mangement_partials/_economics_costs_per_mandy.html.twig'%}

             {% include 'report/_asset_mangement_partials/_economics_operating_statement.html.twig'%}

             {% include 'report/_asset_mangement_partials/_economics_commulative_forecast.html.twig'%}

            {% include 'report/_asset_mangement_partials/_economics_losses_compared.html.twig'%}

            {% include 'report/_asset_mangement_partials/_economics_cumulated_losses_compared.html.twig'%}
        {% endblock %}
    </div>
{% endblock %}

