{% extends 'report/assetreport.base.html.twig' %}
{% block javascripts %}
        {{ parent() }}
        <script src="https://cdn.amcharts.com/lib/4/core.js" type="text/javascript"></script>
        <script src="https://cdn.amcharts.com/lib/4/charts.js" type="text/javascript"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js" type="text/javascript"></script>
        {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
{% block content %}
        <div class="container">
            {% include 'report/_asset_mangement_partials/_header.html.twig'%}

                {% include 'report/_asset_mangement_partials/_comments.html.twig' %}
            {% if (data.Production == true) %}

                {% if (data.ProdCap) == true %}
                    {% include 'report/_asset_mangement_partials/_productionandcapacityfactor.html.twig'%}
                {% endif %}

                {% if (data.CumulatForecastPVSYS) == true %}
                    {% include 'report/_asset_mangement_partials/_cumulative_forecast_with_PVSYST.html.twig'%}
                {% endif %}

                {% if(data.CumulatForecastG4N) == true %}
                    {% include 'report/_asset_mangement_partials/_cumulative_forecast_with_G4N.html.twig'%}
                {% endif %}

                {%  if (data.CumulatLosses == true) %}
                    {% include 'report/_asset_mangement_partials/_cumulative_losses_yearly.html.twig'%}
                    {% include 'report/_asset_mangement_partials/_cumulative_losses_monthly.html.twig'%}
                {% endif %}

                {% if (data.MonthlyProd == true) %}
                    {% include 'report/_asset_mangement_partials/_monthley_production.html.twig'%}
                {% endif %}

                {% if (data.DailyProd == true) %}
                    {% include 'report/_asset_mangement_partials/_production_monthly_expected_vs_actuals.html.twig'%}
                {% endif %}

                {% if (data.StringCurr == true) %}
                    {%  for page in 0..(((invNr/40)|round(0, 'ceil'))-1) %}
                        {% include 'report/_asset_mangement_partials/_string_currents_daily_difference_g4n_actuals.html.twig'%}
                    {% endfor %}
                {% endif %}

                {% if (data.InvPow == true) %}
                    {%  for page in 0..(((invNr/40)|round(0, 'ceil'))-1) %}
                        {% include 'report/_asset_mangement_partials/_inverters_power_daily_difference_g4n_actuals.html.twig'%}
                    {% endfor %}

                {% endif %}

            {% endif %}
            {% if(data.Availability) == true %}

                {% if (data.AvYearlyOverview == true) %}
                    {%  for page in 0..(((invNr/20)|round(0, 'ceil'))-1) %}
                        {% include 'report/_asset_mangement_partials/_availibility_yearly_overview.html.twig'%}
                    {% endfor %}

                {% endif %}
                {% if (data.AvYearlyTicketOverview == true) %}
                        {% include 'report/_asset_mangement_partials/_availability_yearly_ticket.html.twig'%}
                        {% include 'report/_asset_mangement_partials/_chart_availability_year.html.twig' %}
                        {% include 'report/_asset_mangement_partials/_chart_year_by_month.html.twig' %}
                {% endif %}
                {% if (data.AvMonthlyOverview) %}
                    {% include 'report/_asset_mangement_partials/_aufloesung_availibility_fuerr_den_act_monat.html.twig'%}
                    {% include 'report/_asset_mangement_partials/_chart_availability.html.twig' %}

                {% endif %}
                {% if (data.AvInv == true) %}
                    {%  for page in 0..(((invNr/40)|round(0, 'ceil'))-1) %}
                        {% include 'report/_asset_mangement_partials/_availability_inverter_daily.html.twig'%}
                    {% endfor %}
                {% endif %}
            {% endif %}


            {% if(data.Economics) == true %}

                {% include 'report/_asset_mangement_partials/_economics_income_p_month.html.twig'%}

                {% include 'report/_asset_mangement_partials/_economics_costs_per_mandy.html.twig'%}

                {% include 'report/_asset_mangement_partials/_economics_operating_statement.html.twig'%}
                {% include 'report/_asset_mangement_partials/_economics_commulative_forecast.html.twig'%}
                {% include 'report/_asset_mangement_partials/_economics_losses_compared.html.twig'%}
                {% include 'report/_asset_mangement_partials/_economics_cumulated_losses_compared.html.twig'%}
            {% endif %}
        </div>
{% endblock %}

