{% extends 'report/assetreport.base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        {% for table in InverterPRRankTables %}
            {% include 'report/_asset_mangement_partials/_inverter_rank_table.html.twig'%}
        {% endfor %}

        {% if invNr > 20 %}
            {%  if (anlage.configType == 3 and false ) %}
                {% include 'report/_asset_mangement_partials/_top_10_inverters_scb.html.twig'%}
            {% endif %}
            {% include 'report/_asset_mangement_partials/_top_10_inverters.html.twig'%}
        {% endif %}
        {% for graph in InverterPRRankGraphics %}
            {% include 'report/_asset_mangement_partials/_inverter_rank_graph.html.twig'%}
        {% endfor %}
    </div>
{% endblock %}