
{% block body %}
    <div class="grid-x">
        <div class="cell">
            <div class="row">
                    {{ report|raw }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
{% endblock %}