<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link href="{{ absolute_url(asset('css/epc_report.css')) }}" rel="stylesheet" type="text/css">
    <script src="{{ absolute_url(asset('echarts/dist/echarts.min.js')) }}" type="text/javascript"></script>
    <title>Report</title>
</head>
<body>
<div class="container">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>