<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link href="{{ absolute_url(asset('css/monthly_report.css')) }}" rel="stylesheet" type="text/css">
    <title>Monthly Report</title>
</head>
<body>
<div class="container">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>