{% extends "base.html.twig" %}

{% block title %}

{% endblock %}

{% block styles %}

    {{ parent() }}
{% endblock %}



{% block javascripts %}


    {{ parent() }}
    {{ encore_entry_script_tags('new_dashboard') }}
{% endblock %}

{% block new %}
<div  class="off-canvas-content" data-off-canvas-content>
    <main class="grid-container fluid" >
        <div id="react-root">
            Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
        </div>
    </main>
</div>
{% endblock %}
 {% block footer %}{% endblock %}
 {% block body %}{% endblock %}



