{% extends "base.html.twig" %}

{% block title %}

{% endblock %}

{% block styles %}

    {{ parent() }}
{% endblock %}



{% block javascripts %}


    {{ parent() }}

{% endblock %}

{% block new %}
<div class="off-canvas-content" data-off-canvas-content>
    <main class="grid-container fluid" style="padding-top: 1rem">
        <div {{ react_component('Dashboard', {'maxItems': 4}) }}>
            Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
        </div>
    </main>
</div>
{% endblock %}
 {% block footer %}{% endblock %}
 {% block body %}{% endblock %}



