{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css'))  %}
<container class="main">
    <row class="header">
        <columns>
            <spacer size="10"></spacer>
            <img src="{{ absolute_url(asset('/images/green4net.jpg')) }}" class="logo" alt="PVplus 4.0 Logo">
        </columns>
    </row>
    <row class="welcome">
        <columns>
            <spacer size="35"></spacer>
            <h1>{{ email.subject }}</h1>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>{{ message|raw }}</p>

        </columns>
    </row>
    <row class="footer">
        <columns>
            <p>Your friendly <em>green4net Team</em></p>
        </columns>
    </row>
    <row class="bottom">
        <columns>
            <spacer size="20"></spacer>
            <div>
                Sentï¸ from PVplus 4.0
            </div>
        </columns>
    </row>
    </container>
{% endapply %}