{% extends 'base.html.twig' %}

{% block title %}
    {{  parent() }}new plant
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('plant_edit') }}
{% endblock %}

{% block body %}
    <div class="grid-x">
        <div class="cell">
            <h1>New Plant</h1>
        </div>
    </div>
    {{ include('anlagen/_form_new.html.twig') }}
{% endblock %}